[flake8]
max-line-length = 88
exclude =
    .git,
    __pycache__,
    build,dist,
    .venv,
    .env,
    .tox,
    .mypy_cache,
    .pytest_cache,
    *.egg-info,
    *.egg,
    *.pyc,
    *.pyo,
    *.pyd
per-file-ignores =
    urlshortener_project/settings.py: E501